<div class="modal fade" id="card-modal-{{ card.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-controller="CardsShowCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3 ng-show="!editingTitle" ng-click="editCardTitle(card.id)"class="modal-title" id="card-title-{{ card.id }}">{{ card.title }}</h3>
        <input ng-show="editingTitle" ng-blur="updateCardTitle(card)" type="text" id="new-card-title-{{ card.id }}">

        <p>In list {{ list.title }}</p>
        <p><a ng-click="markComplete(card)">Mark Completed</a></p>

      </div>

      <div class="modal-body">
        <p ng-show="!editingDesc" ng-click="editCardDesc(card.id)" id="card-desc-{{ card.id }}">{{ card.description }}</p>
        <input type="text" id="new-card-desc-{{ card.id }}" ng-show="editingDesc" ng-blur="updateCardDesc(card)">
      </div>

      <div class="modal-body">
        <!-- begin member list -->
        <h5> Card Agents: </h5>
        <span ng-repeat="user in card.users">
          {{ user.email }} |
        </span>
        <!-- end member list -->
        <!-- begin member invite -->
        <!-- <form> -->
           <!-- ng-submit="cardInviteMember(invitedEmail)"> -->
          <div class="btn-group" uib-dropdown keyboard-nav>
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
              Assign Member <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem" ng-repeat="user in board.users">
                <a ng-click="cardAssignMember(user, card)">{{ user.email }}</a>
              </li>
              <!-- <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href="#">Separated link</a></li> -->
            </ul>
          </div>
          <!-- end member invite -->
      </div>

      <div class="modal-body">
        <h4> Activity </h4>
      </div>

    </div>
  </div>
</div>
